@model IEnumerable<JooleUI.Models.ProductVM>

@{
    ViewBag.Title = "Summary";
}

<style>
    .column{
        float: left;
        padding: 10px;
    }
    .left {
        width: 25%;
    }
    .right {
        width: 75%;
    }
</style>

<br />
@ViewBag.Message
<br />
<form>
    Search for products:
    <input type="text" name="searchString">
    <input type="submit" value="Search!">
</form>
<br />

<div class="row">
    <form class="column left" style="background-color:#eee;">
        <div style="padding-bottom: 5px; border-bottom-style: solid; text-align: center;">Search: <input type="submit" value="Save"><button id="clear">Clear</button></div>
        <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid; text-align: center;"><button id="product">Product</button><button id="project">Project</button></div>
        <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid;">Product Type</div>
        <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid; text-align: center;">
            Model Year:
            <input type="text" name="beginningYear" maxlength="4" size="4"> - <input type="text" name="endingYear" maxlength="4" size="4">
        </div>
        <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid;">Technical Specifications</div>
        <div id="techspec" style="padding-top: 5px;">Technical specifications go here</div>
    </form>
    <div class="column right">
        <form>
            @foreach (var product in Model)
            {
                <div id="+@Html.DisplayFor(modelItem => product.productID)+" style="border: 3px solid gray; text-align: center; display: inline-block; width: 200px; height: 400px;" onclick="myFunction(this)">
                    Image goes here.<br />
                    <b>@Html.DisplayFor(modelItem => product.productName)</b><br />
                    <b>@Html.DisplayFor(modelItem => product.series)</b><br />
                    <b>@Html.DisplayFor(modelItem => product.model)</b><br />
                    @*@foreach (var c in product.characteristics)
                        {
                            @Html.DisplayFor(modelItem => c)<br />
                        }
                        @Html.DisplayFor(modelItem => product.characteristics)<br />*@
                    <input type="checkbox" name="compare[]" value=@Html.DisplayFor(modelItem => product.productID) /> <b>Compare</b>
                    <button id="addTo">Add to</button>
                </div>
                <script>
                    function myFunction(item) {
                        document.getElementById(item.id).style.border = "3px solid red";
                    }
                </script>
            }
        </form>
    </div>
</div>






