@model IEnumerable<JooleUI.Models.ProductVM>
@{
    ViewBag.Title = "Summary";
}
<style>
    a.my-class {
        color: #ff0000
    }

        a.my-class:active {
            color: #0e86f8
        }

        a.my-class:link {
            color: #ff0000
        }
        a.my-class:hover{
            color:#ff6a00
        }

        a.my-class:visited {
            color: #CCCCCC
        }
    .column {
        float: left;
        padding: 10px;
    }

    .left {
        width: 25%;
    }

    .right {
        width: 75%;
    }
</style>
<header>
    <div style="height:100px">
        <img width="150" src="~/Images/Joole.png" style="float:left"/>
        <form style="color:black;font:bold;width:700px;">
            Search for products:
            <input type="text" name="searchString">
            <input class="btn-primary" type="submit" value="Search!">
        </form>
    </div>
</header>
<br />
<div class="row">
    <form class="column left" style="background-color:#eee;">
        <div style="padding-bottom: 5px; border-bottom-style: solid; text-align: center;">Search: <input type="submit" class="btn btn-primary" value="Save"> <button class="btn btn-primary" id="clear">Clear</button></div>
        <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid; text-align: center;">Product | Project</div>
        <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid;">Product Type</div>
        <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid; text-align: center;">
            Model Year:
            <input type="text" name="beginningYear" maxlength="4" size="4"> - <input type="text" name="endingYear" maxlength="4" size="4">
        </div>
        <div style="padding-top: 5px; padding-bottom: 5px; border-bottom-style: solid;">Technical Specifications</div>
        <div id="techspec" style="padding-top: 5px;">Technical specifications go here</div>
    </form>
    <div class="column right">
        <form>
            @foreach (var product in Model)
            {
            <div id="@Html.DisplayFor(modelItem => product.productID)" style="border: 3px solid gray; text-align: center; display: inline-block; width: 200px; height: 400px;" onclick="myFunction(this)">
                Image goes here.<br />
                @Html.ActionLink(""+@Html.DisplayFor(modelItem => product.productName)+"", "Summa",  "Home" , new { id = @Html.DisplayFor(modelItem => product.productID) }, new { @class = "my-class" })
                    <br />
                <b>@Html.DisplayFor(modelItem => product.series)</b><br />
                <b>@Html.DisplayFor(modelItem => product.model)</b><br />
                @*@foreach (var c in product.characteristics)
        {
            @Html.DisplayFor(modelItem => c)<br />
        }
        @Html.DisplayFor(modelItem => product.characteristics)<br />*@
                <input type="checkbox" name="compare" value=@Html.DisplayFor(modelItem => product.productID) /> <b>Compare</b>
                <input class="btn btn-primary" type="submit" value="Add to">
            </div>
            }
        </form>
    </div>
</div>


